<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="databaseName" value="SignalRChatDB"/>
  </appSettings>
	<connectionStrings>
		<add name="mongodb" connectionString=""/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>