<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link href="Client/Styles/Styles.css" rel="stylesheet" />
    <link href="Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/css/emoji.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.3.1.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/jquery.signalR-2.3.0.js"></script>
    <script src="Scripts/vue.js"></script>
    <script src="Scripts/vuex.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="Client/VideoChatWebRTC/demo.js"></script>
    <script src="Client/Common.js"></script>
    <script src="Client/LinqJS.js"></script>
    <script src="Client/Models.js"></script>
    <script src="Client/Components.js"></script>
    <script src="Client/App.js"></script>

</head>

<body>
    <style>
        .space {
            margin: 20px 0px !important;
        }

        .w-150px {
            width: 150px;
        }
    </style>
    <div id="app">
        <div id="home">
            <div class="row text-center space">
                <div class="btn btn-success w-150px" data-toggle="modal" data-target="#logindata">
                    Login
                </div>
            </div>
            <div class="row text-center space">
                <div class="btn btn-info w-150px" data-toggle="modal" data-target="#registerdata">
                    Register
                </div>
            </div>

            <!--<div>
                <video autoplay class="video mine" id="rtcVideo"></video>
                <input type="button" onclick="clickCallBack();" id="startBtn" value="start" />
            </div>-->

            <div class="modal fade" role="dialog" id="logindata">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Wprowadź informacje!</h4>
                        </div>
                        <div class="modal-body">
                            <div class="center-block">
                                <div class="input-group space">
                                    <span class="input-group-addon">Login</span>
                                    <input class="form-control" v-model="Login" />
                                </div>
                                <div class="input-group space">
                                    <span class="input-group-addon">Hasło</span>
                                    <input class="form-control" type="password" v-model="Password" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="btn btn-success w-100" v-on:click="Start">Zaloguj</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" role="dialog" id="registerdata">
                <div class="modal-dialog">
                    <form class="modal-content" v-on:submit="Register">
                        <div class="modal-header">
                            <h4>Rejestracja</h4>
                        </div>
                        <div class="modal-body text-center">
                            <div class="input-group space">
                                <span class="input-group-addon">Login</span>
                                <input class="form-control" v-model="Login" required/>
                            </div>
                            <div class="input-group space">
                                <span class="input-group-addon">Nick</span>
                                <input class="form-control" v-model="NickName" required/>
                            </div>
                            <div class="input-group space">
                                <span class="input-group-addon">Hasło</span>
                                <input type="password" class="form-control" v-model="Password" required/>
                            </div>
                            <div class="input-group space">
                                <span class="input-group-addon">Wiek</span>
                                <input min="6" max="100" class="form-control" type="number" v-model="Age" required/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success w-100" value="Rejestruj" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="templates">
    </div>
    <script>
        var myVue = null;
        var clickCallBack = function () { };
        (function () {
            var chatHub = $.connection.chatHub;
            //var videoChat = setupVideoChat(chatHub);
            //var videoInit = videoChat.init;
            //clickCallBack = videoChat.onClick;
            var client = new Client(chatHub);
            client.done(function () {
                $.connection.hub.start().done(function () {
                    //videoInit();
                    new Vue({
                        el: "#home",
                        data: {
                            inProgress: false,
                            NickName: "",
                            Password: "",
                            Login: "",
                            Age: 0,
                        },
                        methods: {
                            getUser() {
                                return {
                                    NickName: this.NickName,
                                    Password: this.Password,
                                    Login: this.Login,
                                    Age: this.Age
                                }
                            },
                            Register(event) {
                                event.preventDefault();
                                if (!this.NickName || !this.Login || !this.Password) {
                                    alert("Wprowadź wszystkie dane!");
                                    return;
                                }
                                var self = this;
                                self.inProgress = true;
                                chatHub.server.register(this.getUser()).done(function (res) {
                                    self.inProgress = false;
                                    if (res == "OK") {
                                        $("#registerdata").modal("hide");
                                        self.Start();
                                    } else if (res == "InvalidModel") {
                                        alert("Wprowadź wszystkie dane.");
                                    } else if (res == "UserExists") {
                                        alert("Użytkownik o takim Loginie juz istnieje.");
                                    } else {
                                        alert("Coś poszło nie tak :O");
                                    }
                                });
                            },
                            Start() {
                                if (!this.Login) {
                                    alert("Wprowadź Login i Hasło!");
                                    return;
                                }
                                var self = this;
                                self.inProgress = true;
                                chatHub.server.login(this.Login, this.Password).done(function (res) {
                                    self.inProgress = false;
                                    if (res.Success) {
                                        $("#logindata").modal("hide");
                                        res.Identity.Password = self.Password;
                                        client.logged(res.Identity);
                                    } else {
                                        alert("Wprowadź poprawne dane.");
                                    }
                                });
                            }
                        }
                    });
                });
            });
        }());
    </script>
</body>
</html>