<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link href="Client/Styles/Styles.css" rel="stylesheet" />
    <link href="Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.3.1.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/jquery.signalR-2.3.0.js"></script>
    <script src="Scripts/vue.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="Client/Common.js"></script>
    <script src="Client/LinqJS.js"></script>
    <script src="Client/Models.js"></script>
    <script src="Client/Components.js"></script>
    <script src="Client/App.js"></script>

</head>
<body>
    <div id="app">
        <div class="modal fade" role="dialog" id="logindata">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Wprowadź informacje!</h4>
                    </div>
                    <div class="modal-body">
                        <label for="name">Nick</label>
                        <input name="name" id="name" v-model="NickName" />
                        <label for="age">Age</label>
                        <input type="number" v-model="Age" />
                    </div>
                    <div class="modal-footer">
                        <div class="btn btn-success w-100" v-on:click="Start">Start</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="templates">
    </div>
    <script>
        var Test = [1, 2, 3];
        var myVue = null;
        setTimeout(function () {
            $("#logindata").modal("show");
        }, 10);
        (function () {
            new Vue({
                el: "#logindata",
                data: {
                    NickName: "",
                    Age: 0,
                },
                methods: {
                    getUser() {
                        return {
                            NickName: this.NickName,
                            Age: this.Age
                        }
                    },
                    Start() {
                        if (!this.NickName) {
                            alert("Wprowadź Nick!");
                            return;
                        }
                        $("#logindata").modal("hide");
                        new Client(this.getUser()).done(function (vue) {
                            myVue = vue;
                        });
                    }
                }
            })
        }());
    </script>
</body>
</html>