<style>
    footer {
        background-color: #555;
        width:100%;
        color: white;
        padding: 15px;
        position:absolute;
        bottom:0;
    }
</style>
<template id="App-tmp">
    <div>
        <!--<navigation></navigation>-->
        <nav class="navbar navbar-inverse">
            <a class="navbar-brand" href="#">{{loggedUser.nickName}}</a>

            <!--<div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{loggedUser.nickName}}</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>-->
        </nav>

        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <users-online :users="usersOnline" v-on:openwindow="openWindow($event)"></users-online>
                </div>
                <div class="col-sm-8 text-left">
                    <chat-site v-on:tabdblclick="closeWindow($event)" :server="hubServer" :windows="openedWindows"></chat-site>
                </div>
                <div class="col-sm-2 sidenav">
                    <div class="jumbotron">
                        <profile-manager :user="loggedUser" :server="hubServer"></profile-manager>
                    </div>
                </div>
            </div>
        </div>

        <footer class="container-fluid text-center">
            <p>ChatexXx</p>
        </footer>
    </div>
</template>