<template id="profile-manager">
    <div>
        <div class="btn btn-info" data-toggle="modal" data-target="#edit-profile-modal">Edytuj Dane</div>
        <div class="modal fade" role="dialog" id="edit-profile-modal">
            <div class="modal-dialog">
                <form class="modal-content" v-on:submit="update">
                    <div class="modal-header">
                        <h4>Wprowadź informacje!</h4>
                    </div>
                    <div class="modal-body">
                        <label for="name">Nick</label>
                        <input name="name" id="name" v-model="user.nickName" required/>
                        <label for="age">Wiek</label>
                        <input type="number" v-model="user.age" min="6" max="100" required/>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100" value="Aktualizuj"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>